<!DOCTYPE html>
<html>
<head>
  <title>BookMeetingRoom</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<%= render 'layouts/header'%>
<%= render 'layouts/menu_bar'%>
<body style="margin-left: 2%;">
  <%= yield %>
</body>
</html>
